# Fundamental

#### Run Python Scripts and Packages

* Run a script

> We can run a python script by first running python followed by the name of the python file.
Depending on your bindings, it can either be py, py3, python, python3 etc...

~~~bash
python example.py
~~~

>This will run the script contained in the example.py file located in the current directory

* Install Packages

> We can install packages using PIP,  the python package manager. PIP stands for Pip Installs Packages (weird name...) and is available by default for python installation above 3.4.

> Packages can be found at https://pypi.org/ and installed with the following command:
~~~bash
pip install package-name
pip install keras
~~~

> Once installed packages are available to be imported in our scripts. However, packages installed simply using that command will be installed system wide (We will come back to how to install packages cleanly with environments)

> It is important to note that Python come directly with various packages which are not loaded by default

*  Import packages

> We can import freshly installed packages with the following line of codes:

In [0]:
import datetime # import python's datetime package
import keras # import the whole keras package

> We can also import a specific sub-module from a package with the following line of code:

In [0]:
from keras import layers # import the layers sub-module from the keras packages

> We can also access these sub-modules by using the . notations in our import, for exemple:

In [0]:
from keras.applications import inception_v3 # import the inception_v3 sub-module from the application sub-module of the keras packages

> We can also rename the packages or sub-modules directly in the import statement like this:

In [0]:
import pandas as pd # import the pandas packages and rename it 'pd' => this is a convention

* Create modules

> We can also create our own python modules and import them in our main scripts to have cleaner code.
> 3 different cases arise:


> 1.   If the module is in the same directory (not in a sub-folder) it can be directly imported and run the script with the import statement such as:

In [0]:
# example.py
print('from example.py')

# main.py
import example # this will import our example module and run the code

> 2.   If the module is in the same directory and we simply want to import a function or a class from it, we can do it using the following code:

In [0]:
# example.py
def test_function():
  print('from test_function')
  
# main.py
from example import test_function # this will import the test_function functions (but not run the code inside)

> 3.   If the module is not in the same directory, it is a bit more complicated (but necessary if we want to organize well our scripts):

> > * Creating a __init__.py in the same folder than the script we want to export and import the specific function or class we want to export.
> > * Now we can import in our main file scripts stored in sub-folders by using the dot notation on the folder name.

> > Let's see how to do that in an example:

In [0]:
# folder/example.py
def test_function():
  print('from test_function')
  
# folder/__init__.py
from .example import test_function

# main.py
from folder.example import test_function

*   Python's special if __name__ == '__main__':

> Sometimes, you will want to run a specific part of code only if the script is run directly, not if it is imported as a module. In that case you will use the special syntax:

In [0]:
if __name__ == '__main__': 
  print('I am running this script directly')

> The Python interpreter will assign the `__main__ string in __name__` if the script is the one directly called in the Python command.

> Modules which are imported from another script will not have the code inside the `__main__ string in __name__` block runnning.

#### Python's Basic Data Types

* int
> A simple an integer number

In [0]:
# int
a = 5
b = 12435

* float
> A float number that can have a normal and scientific notations

In [0]:
# float (normal notations)
a = 1.2 # traditional syntax
b = .2 # lazy syntax avoiding 0
c = 1. # I only have an integer but want to make float operation on it

# float (scientific notation)
a = 1e-07 # quite commonly used in AI

* str
> A string that have various syntax. There are no specific conventions in python for use of single or double quotes.

In [0]:
# str (single and double quotes)
a = "double quote string"
b = 'single quote string'

# str (raw strings)
a = r'raw\\string' # will print the exact string
b = 'not\\raw\\string' # will consider the escape characters and interpret them

# str (triple quotes)
a = '''This string can be written
on several lines''' # this string will be printed in as many lines that are displayed in the script

* bool
> A boolean can either be True or False

In [0]:
# bool
a = True
b = False

* list
> A list is an array of ordered element which is mutable

In [0]:
# list（列表）
a = [1, 2, 3] # normal list of integers
b = ['one', 'two', 'three'] # normal list of strings
c = [1, 'two', 3.] # normal list of mixed types
d = [[1, 2, 3], [4, 5, 6]] # nested lists, i.e. list of lists

* tuple
> A tuple is similar to a list but are immutable

In [0]:
# tuple（元组）
a = (1, 2, 3) # normal tuple of int
b = ('one', 'two', 'three') # normal tuple of string

* set
> a set is similar to a list but are unordered

In [0]:
# set(集合)
a = {1, 2, 3} # normal set of int
b = {'one', 'two', 'three'} # normal set of string

* dictionary 
> a set is a list of key:pair value similar to a JS object

In [0]:
# dictionary（字典）
a = {'1': 'Chen', '2': 'Gee', '3': 'Fabien'} # a dictionary with 1, 2, 3 as key and Chen, AK, Fabien as items
b = {'Fabien': 1, 'Gee': 2, 'Chen': 3} # a dictionary with Fabien, Ak and Chen as key and 1, 2, 3 as items

NoneType
> is a defined Non-existant value

In [0]:
# NoneType
a = None

#### String formattings

In many times we need to combine text with variable values, such as 

~~~python

num_people = 5

print("There are", num_people, "people participating the workshop.")
~~~
This will print "There are 5 people participating the workshop.". 

However, this way of implementation is inconvenient, especially when we need to combine multiple variables and display each variable differently.

Luckily, python supports a nice formatting tool which allows us to take advantage of the concept of placeholders

* Simple placeholder

In [0]:
template = "{0}, {1}, {2}, and {3} are good friends."

print(template.format("Fabien", "Ethan", "Gee", "Ironman"))

Fabien, Ethan, Gee, and Ironman are good friends.

> ``{}`` creates a placeholder inside the string which will be filled in place later. 

> The numbering allows us to control the order of the variables

In [0]:
template = "{3}, {1}, {2}, and {0} are good friends."

print(template.format("Fabien", "Ethan", "AK", "Ironman"))

Ironman, Ethan, AK, and Fabien are good friends.

> We can omit the numbering to use the default ordering

In [0]:
template = "{}, {}, {}, and {} are good friends."

print(template.format("Fabien", "Ethan", "AK", "Ironman"))

Fabien, Ethan, AK, and Ironman are good friends.

* Named placeholders

We can give placeholders names to prevent misplacing

In [0]:
template = "My name is {name}, and I'm {age} years old."

print(template.format(name='Ethan', age=25))

My name is Ethan, and I'm 25 years old.

* Special formats

In [0]:
# number of decimal places

pi = 3.1415926

print("The value of π is {:.2f}".format(pi))
print("The value of π is {:.3f}".format(pi))
print("The value of π is {:.4f}".format(pi))
print()

# zero padding

print("Ethan's ID is {:03d}".format(34))
print("Fabien's ID is {:03d}".format(108))
print("AK's ID is {:03d}".format(3))
print()

# financial

price = 779563.9905

print("My account balance is ¥{:,.2f}".format(price))
print()

# scientific notation

big_number = 58346364853673498
small_number = 0.0034523

print("{0} = {0:.3e}".format(big_number))
print("{0} = {0:.3e}".format(small_number))
print()

#### Python's Operations

* Basic operations: +, -, *, /
> We can mix int and float type together, the result would be a float if one of the number is a float

In [0]:
a = 1 + 10
b = 2.1 + 10
c = 1.0 + 10.5

a = 10 - 1
b = 10 - 2.1
c = 10.5 - 1.0

a = 1 * 10
b = 2.1 * 10
c = 1.0 * 10.5

a = 1 / 10
b = 2.1 / 10
c = 1.0 / 10.5

* Other operations: //, **, %
> // is a floor division

> ** is exponentiation

> % is modulo division

In [0]:
a = 11 // 2
b = 10.6 // 2
c = 12.6 // 4

print("floor division 11 // 2 = ", a)
print("floor division 10.6 // 2 = ", b)
print("floor division 12.6 // 4 = ", c)

a = 2 ** 2
b = 2. ** 3
c = 1.2 ** 5.1

print("exponentiation a:", a)
print("exponentiation b:", b)
print("exponentiation c:", c)

a = 3 % 2
b = 11 % 3
c = 50 % 5

print("3 % 2 =", a)
print("11 % 3 =", b)
print("50 % 5 =", c)

floor division 11 // 2 =  5
floor division 10.6 // 2 =  5.0
floor division 12.6 // 4 =  3.0
exponentiation a: 4
exponentiation b: 8.0
exponentiation c: 2.534103535654163
3 % 2 = 1
11 % 3 = 2
50 % 5 = 0

* Shortcut: +=, -=, etc...
> We can directly make an operation with previous variable by putting the operations side right before the = sign

In [0]:
a = 1
a += 2

print("shortcut +=:", a)

a -= 1

print("shortcut -=:", a)

a *= 5

print("shortcut *=:", a)

shortcut +=: 3
shortcut -=: 2
shortcut *=: 10

#### Flow control basics

* Loops

> Loops in Python are directly iterating over the array.

> Simple loops are using the following syntax:

In [0]:
for number in [1, 2, 3, 4]:
  print(number, end=',')

1,2,3,4,

> Loops can also have access to the index of the iterations using the enumerate function:

In [0]:
for (i, number) in enumerate([3, 4, 1, 2]):
  print("This is the {} operation: {}".format(i, number))

This is the 0 operation: 3
This is the 1 operation: 4
This is the 2 operation: 1
This is the 3 operation: 2

* Other loops
> We can also loop on an array of tuple or a dictionary with the following syntax:

In [0]:
# loop with tuples
pairs = [(1, 2), (2, 3), (3, 4)] 
for (a, b) in pairs:
  print("tuple: ({}, {})".format(a, b))
  
# loop with dictionary
person = {"name": "Fabien", "age": 32, "pet": True}
for (k, v) in person.items():
  print("key: {} - value: {}".format(k, v))

tuple: (1, 2)
tuple: (2, 3)
tuple: (3, 4)
key: name - value: Fabien
key: age - value: 32
key: pet - value: True

* if else 
> you can use the following syntax in python:

In [0]:
a = 10
b = 8
if b > a:
  print("b is bigger than a")
elif b == a:
  print("b is equal to a")
else:
  print("a is bigger than b")

a is smaller than b

> the logical operations are the following:

> * Equals: a == b

> * Not Equals: a != b

> * Less than: a < b

> * Less than or equal to: a <= b

> * Greater than: a > b

> * Greater than or equal to: a >= b

* While Loops

> Now that we know the logical operations in Python, we can use a while loop, be careful to have stop conditions

In [0]:
a = 0
while a <= 3:
  print('a ({}) is not bigger than 3'.format(a))
  a += 1 # important to not be stuck in an infinite loop

a (0) is not bigger than 3
a (1) is not bigger than 3
a (2) is not bigger than 3
a (3) is not bigger than 3

* Break and continue statement

> We can control more the flow of our loops with break and continue:

> In specific cases, we will want to skip an iteration or stop the iteration

In [0]:
# break statement example
# stop the loop if a == 2
for a in [1,2,3]:
  if a == 2: 
    break
  print("break loop: {}".format(a))
  
# continue statement example
# skip the iteration if a ==2
for a in [1, 2, 3]:
  if a == 2:
    continue
  print("continue loop: {}".format(a))

break loop: 1
continue loop: 1
continue loop: 3

#### Dictionaries

Dictionaries are widely used in Python, they are very similar to JS objects.

* Creating a dictionary

> There are several ways to create a python dictionary:

> * Use the {} notation

> * Use the dict() function with either tuple or assignement

In [0]:
# creating a dictionary with the {} notation
age_of_ultron = {
    "movie": "Avengers: Age of Ultron",
    "name": "Ironman",
    "status": "alive"
}
print(age_of_ultron)

# creating a dictionary with the dict() function and tuple
infinity_war = dict([
    ("movie", "Avengers: Infinity War"),
    ("name", "Ironman"),
    ("status", "alive")
])
print(infinity_war)

# creating a dictionary with the dict() function and assignment
endgame = dict(
    movie="Avengers: Endgame",
    name="Ironman",
    status="dead"
)
print(endgame)

{'movie': 'Avengers: Age of Ultron', 'name': 'Ironman', 'status': 'alive'}
{'movie': 'Avengers: Infinity War', 'name': 'Ironman', 'status': 'alive'}
{'movie': 'Avengers: Endgame', 'name': 'Ironman', 'status': 'dead'}

* Accessing dictionary's value

> We can access a dictionary's specific value by using the slicing notation and the name of the key

In [0]:
# accessing the status of ironman in the Infinity War movie
print(infinity_war['status'])

alive

* Modifying a dictionary

> Adding a new key:value pair

> Modifying an existing key's value

> Deleting an existing key's value

In [0]:
# adding a new key:value pair
infinity_war['released'] = True
print(infinity_war)

# modifying an existing key:value
infinity_war['status'] = 'dead'
print(infinity_war)

# deleting an existing key
del infinity_war['released']
print(infinity_war)

{'movie': 'Avengers: Infinity War', 'name': 'Ironman', 'status': 'alive', 'released': True}
{'movie': 'Avengers: Infinity War', 'name': 'Ironman', 'status': 'dead', 'released': True}
{'movie': 'Avengers: Infinity War', 'name': 'Ironman', 'status': 'dead'}

* Build a dictionary incrementaly

> First we can create an empty dictionary and add key value pair one by one

In [0]:
new_movie ={}
new_movie['movie'] = 'Unknown'
new_movie['name'] = 'Ironman'
new_movie['status'] = 'still dead'
print(new_movie)

{'movie': 'Unknown', 'name': 'Ironman', 'status': 'still dead'}

* Additional info

> Value can be more than just strings: array, other dictionary, tuples, or functions

In [0]:
# storing an array in a dictionary
infinity_war['heroes'] = ['Ironman', 'Thor']
print(infinity_war)

# storing a dictionary into a dictionary
infinity_war['heroes'][1] = { 'name' : 'Thor', 'status': 'alive' }
print(infinity_war)

# storing a function into a dictionary
def snap():
  print('SNAP')
infinity_war['snap'] = snap
infinity_war['snap']()

{'heroes': ['Ironman', 'Thor'], 'snap': <function snap at 0x7f5bbd310d90>}
{'heroes': ['Ironman', {'name': 'Thor', 'status': 'alive'}], 'snap': <function snap at 0x7f5bbd310d90>}
SNAP

## `Iterables`

In python, there is a concept called `iterable`. It describes a set of data types including `list`, `tuple`, and `str`. An `iterable` object is consisting of a series of ordered elements, each of which can be accessed directly by specifying its index (numbered position in the object) or iteratively by looping.

* Accessing iterable object length

In [0]:
iterable_object = ["a", "list"] #@param ["this is a string", "(\"this\", \"is\", \"a\", \"tuple\")", "[\"a\", \"list\"]"] {type:"raw"}

print(len(iterable_object))

4

* Accessing element by indexing

> Index starts from 0. In python, we can access the elements using negative indices, it's a shortcut of `length - i`

In [0]:
iterable_object = "this is a string" #@param ["\"this is a string\"", "(\"this\", \"is\", \"a\", \"tuple\")", "[\"a\", \"list\"]"] {type:"raw"}

index = -2  #@param {type:"integer"}

print(iterable_object[index])

n

* Unpacking

> Unpacking an `iterable` object of length $n$ will receive $n$ objects

In [0]:
iterable_object = "this is a string" #@param ["\"this is a string\"", "(\"this\", \"is\", \"a\", \"tuple\")", "[\"a\", \"list\"]"] {type:"raw"}

print(*iterable_object, sep='-')

t-h-i-s- -i-s- -a- -s-t-r-i-n-g

> This will be useful in later sections.

# Functions

## Declare a function

We declare a function using the following syntax:

In [0]:
def f(x):
  return 2 * x + 3


print(f(1), f(3), f(5))

When declaring an empty function, we use the ```pass``` keyword to specify doing nothing

In [0]:
def empty_func_incorrect():
  


def empty_function():
  pass


empty_function()

IndentationError: ignored

## Returning multiple values

## Assigning default values to function arguments

### The importance of assigning immutable object as default value

> consider the following code:

In [0]:
def append_end(queue=[]):
  queue.append('the end')
  return queue


print(append_end([1, 2, 3]))
print(append_end([1]))

print(append_end())
print(append_end())
print(append_end())

[1, 2, 3, 'the end']
[1, 'the end']
['the end']
['the end', 'the end']
['the end', 'the end', 'the end']

> You will notice that the last 2 executions act not as we expected. The reason causing this is that we specified the default value of argument "queue" as an empty list, which is mutable. 

> After the first execution with default value being used, that default list is modified, which in turn affects later executions.

> The correct implementation:

In [0]:
def append_end(queue=None):
  if queue is None:
    queue = []
  queue.append('the end')
  return queue


print(append_end())
print(append_end())
print(append_end([1, 2, 3]))

['the end']
['the end']
[1, 2, 3, 'the end']

## The use of `*args, **kwargs`

### `*args`: variable-length argument list functions

In python, we can specify a variable number of arguments passed into a function.

Let's consider the following situation: 

There is a series of numbers: $a, b, c, d, e, ...$, and we wish to calculate their squared sum. 

Because we don't know how many numbers are there, we can design a function that accepts a list or a tuple of numbers such as the following:

In [0]:
def squared_sum(numbers):
  sum = 0
  for x in numbers:
    sum += x ** 2
  return sum

When calling this function, we first need to assemble a list.

In [0]:
print(squared_sum([1, 2, 3]))
print(squared_sum([1]))

14
1

When using `*args` syntax, we can simplify the procedure like the following:

In [0]:
def squared_sum(*numbers):
  sum = 0
  for x in numbers:
    sum += x ** 2
  return sum


print(squared_sum(1, 2, 3))
print(squared_sum(1))

14
1

This will allow any number of arguments passed into the function, including 0. 

Sometimes we already have a list containing several numbers, now that we have  a variable-length arguments function, how do we use it? The answer is by unpacking the list:

In [0]:
a = [3, 1, 5, 4, 7]

print(squared_sum(*a))

100

### `**kwargs`: arbitrary keyword arguments function

Let's say that you're building an application that processes use information. Users may give you different sets of information and you want to store them all.

This can be implemented with the following code:

In [0]:
def user_info(name, age, **kwargs):
  print("name: {}, age: {}, others: {}".format(name, age, kwargs))

  
user_info("Fabien", 25, city='Chengdu', gender='M', interests=['AI', 'Python', 'Money'])

user_info("Ethan", 25, occupation='Super Hero', date_of_birth="1990.01.01")

name: Fabien, age: 25, others: {'city': 'Chengdu', 'gender': 'M', 'interests': ['AI', 'Python', 'Money']}
name: Ethan, age: 25, others: {'occupation': 'Super Hero', 'date_of_birth': '1990.01.01'}

In this way, the function defines 2 mandatory arguments: name and age, and accepts any number of keyword arguments. 

Similar to `*args`, if we already have a dictionary containing several key-value pairs, how do you use it?

In [0]:
extra_info = {
    'gender': 'M',
    'city': "New York",
    'occupation': "super hero",
    'wechat_id': 'ironman_999'
}

user_info('Tony Stark', 25, **extra_info)

name: Tony Stark, age: 25, others: {'gender': 'M', 'city': 'New York', 'occupation': 'super hero', 'wechat_id': 'ironman_999'}

In above code we used a new syntax: `**extra_info`, this means to unpack a dictionary into multiple key-value pairs then pass all of them into the function.

# Some advanced features

## Slicing: retrieving sub-array and more

## List comprehensions

## Generator

In deep learning, especially with processing large amount of images, we need to leverage the use of `Generator` to avoid reading data into memory space which cannot be stored.

Assume we have a directory named "images" and inside it we have 10,000 images with names "img_1.jpg", "img_2.jpg", ...

Apparently it's impossible to load them all into our memory, instead, we are loading them by batches.

Normally we would write the following code to implement what we described:

In [0]:
import numpy as np
import matplotlib.pyplot as plt


def load_image(image_path):
  '''this is not really an image loading function'''
  print("Loading image from {}".format(image_path))
  return np.random.uniform(0, 1, (28, 28, 3))


image_path_list = ['images/img_{}.jpg'.format(i+1) for i in range(10000)]

batch_size = 32
for batch_num in range(0, len(image_path_list), batch_size):
  current_batch = image_path_list[batch_num : batch_num + batch_size]
  image_list = []
  for path in current_batch:
    image = load_image(path)
    image_list.append(image)
  
  # process images here...

But with generator, we can implement things differently, which gives us more flexibility

In [0]:
def image_batch_gen(image_dir, batch_size=32):
  image_path_list = ['{}/img_{}.jpg'.format(image_dir, i + 1) for i in range(10000)]
  
  for i in range(0, len(image_path_list), batch_size):
    current_batch = image_path_list[i : i + batch_size]
    image_list = []
    for p in current_batch:
      image_list.append(load_image(p))
    yield image_list


image_batches = image_batch_gen('images', 100)

for batch in image_batches:
  # process images here...
  pass

# OOP

## Define a class: constructor

Python is an object-oriented programming language, we define a class using the following syntax: `class`

The first thing we need to do is to define its constructor, this is done by defining the `__init__()` method

In [0]:
class User:
  def __init__(self, name, age):
    self.name = name
    self.age = age

    
fabien = User("Fabien", 25)

The above code defines a class named `User`, and in the constructor method, we specified 2 member attributes: `name` and `age`. 

In python, we don't need to declare attributes first, instead, specify them whenever needed.

Member attributes are specified with `self`, which is similar to `this` in Java. 

Class attributes are specified as:

In [0]:
class User:
  
  count = 0
  
  def __init__(self, name, age):
    self.name = name
    self.age = age
    User.count += 1

fabien = User('Fabien', 25)
print(User.count)
print(fabien.count)
ethan = User('ethan', 26)
print(ethan.count)
print(User.count)
print(fabien.count)

1
1
2
2
2

## Methods

Methods in a class are defined inside the class declaration, with their first argument being `self`, such as the following:

In [0]:
class User:
  
  count = 0
  
  def __init__(self, name, age):
    self.name = name
    self.age = age
    self.interests = []
    User.count += 1
  
  def greeting(self):
    print("Hello world, it's {}".format(self.name))
  
  def add_interest(self, *interests):
    for interest in interests:
      self.interests.append(interest)

    
fabien = User('Fabien', 25)
ethan = User('ethan', 26)
fabien.greeting()
ethan.greeting()

fabien.add_interest("gaming", "coding")
print(*fabien.interests, sep=', ')

Hello world, it's Fabien
Hello world, it's ethan
gaming, coding

## Private attributes

In python, everything is accessible, but it's a good habbit to keep sensitive information private to prevent bad things from happening. 

Specifying private attributes can be achieved through naming the attributes with leading `__`

By doing so, the python interpretor will prevent direct accessing private attributes,  but there are ways to do that, so keep in mind.

In [0]:
class User:
  def __init__(self, name, age):
    self.__name = name
    self.__age = age
    self.interests = []
  
  def name(self):
    return self.__name
  
  def greeting(self):
    print("Hello world, it's {}".format(self.__name))
  
  def add_interest(self, *interests):
    for interest in interests:
      self.interests.append(interest)

    
fabien = User('Fabien', 25)
print(fabien.name())
print(fabien.__name)

Fabien

AttributeError: ignored

## Class inheritance

Inherent a class can be achieved through specifying the super class

In [0]:
class SuperUser(User):
  def __init__(self, id, *args, **kwargs):
    super(SuperUser, self).__init__(*args, **kwargs)
    self.id = id
  
fabien = SuperUser(name="Fabien", age=25, id=1)
print(fabien.name())
fabien.greeting()

Fabien
Hello world, it's Fabien

> Override a method can be achieved through codes like this:

In [0]:
class SuperUser(User):
  def __init__(self, id, *args, **kwargs):
    super(SuperUser, self).__init__(*args, **kwargs)
    self.id = id
  
  def greeting(self):
    print("Hello world it's superuser {}".format(self.name()))
  
fabien = SuperUser(name="Fabien", age=25, id=1)
fabien.greeting()

Fabien
Hello world it's superuser Fabien

## `__len__()` method

Remember how we get the length of an `iterable` using the built-in function `len()`?

The reason we can use this function to calculate the length is that `list`, `str`, and `tuple` are built-in classes which implement the `__len__()` method.

Based on that, we can define our class's `__init__()` method so that our class objects can be passed to the `len()` function.

In [0]:
class User:
  def __init__(self, name):
    self.name = name
    self.interests = []
  
  def add_interests(self, *interests):
    for interest in interests:
      self.interests.append(interest)
  
  def __len__(self):
    return len(self.interests)

  
fabien = User("Fabien")
print(len(fabien))
fabien.add_interests("money", "coding", "cheeseburgers")
print(len(fabien))

0
3

## `__str__()` method

When writing complex codes, we usually print debugging information on terminal to display things we wish to see. 

However, when printing an object, we get things like this:

In [0]:
print(fabien)

<__main__.User object at 0x7f7847598fd0>

This gives us the class of this object and its memory location, which in many cases is not very useful. 

But if we define the class's `__str__()` method, things will change

In [0]:
class User:
  def __init__(self, name):
    self.name = name
    self.interests = []
  
  def add_interests(self, *interests):
    for interest in interests:
      self.interests.append(interest)
  
  def __len__(self):
    return len(self.interests)
  
  def __str__(self):
    return "<User name='{}' num_interests='{}' >".format(self.name, len(self))
    
  
fabien = User("Fabien")
print(fabien)

<User name='Fabien' num_interests='0' >

Why is this? Because `print()` method calls `str()` implicitly for us to stringify objects we wish to print which are not strings. 

So these 2 lines of code are equivalent
~~~python
print(some_obj)
print(str(some_obj))
~~~

## `__repr__()` method

Let's consider the following code:

In [0]:
fabien = User("Fabien")
ethan = User("Ethan")

print([fabien, ethan])

[<__main__.User object at 0x7f7847505390>, <__main__.User object at 0x7f78475057f0>]

**WHAT THE HELL?**

This is because the `print()` function calls `str()` for us on the list object, but not recursively, so our objects' `__str__()` is never executed.

In order to fix this, we need to define another built-in method:

In [0]:
class User:
  def __init__(self, name):
    self.name = name
    self.interests = []
  
  def add_interests(self, *interests):
    for interest in interests:
      self.interests.append(interest)
  
  def __len__(self):
    return len(self.interests)
  
  def __str__(self):
    return "User='{}' num_interests='{}' ".format(self.name, len(self))
  
  def __repr__(self):
    return str(self)
    
  
fabien = User("Fabien")
ethan = User("Ethan")
print(fabien)
print([fabien, ethan])

User='Fabien' num_interests='0' 
[User='Fabien' num_interests='0' , User='Ethan' num_interests='0' ]

Now things are fixed.

## `__getitem__()` method

Let's say we are building an online bookstore app, and we're to define a "shelf" class which can contain a number of books.

And we need a quick way to retrive books from a shelf. We can implement it through the following:

In [0]:
class Shelf:
  def __init__(self, category, num):
    self.name = category
    self.id = num
    self.books = []
  
  def __len__(self):
    return len(self.books)
  
  def __repr__(self):
    return "shelf #{}: {} | # books: {}".format(self.id, self.name, len(self))
  
  def add_book(self, *books):
    self.books += books
  
  def __getitem__(self, item):
    return self.books[item]
  

shelf = Shelf("Cartoon", 1)
shelf.add_book("Ironman", "Pokemon", "Ninja Turtles", "Spider-man")
print(shelf)
print(shelf[0])
print(shelf[1:3])

shelf #1: Cartoon | # books: 4
Ironman
['Pokemon', 'Ninja Turtles']

## `__getattr__()` method

Sometimes we define a class with `**kwargs`, such as 

~~~python
class User:
  def __init__(self, name, age, **extras):
    self.name = name
    self.age = age
    self.extras = extras
~~~

When creating an object like this:
~~~python
user = User(name='John', age=20, city='New York')
~~~
And when we try to retrieve the city information of that user like this:
~~~python
user.city
~~~
We will definitely get an error since class User doesn't have an attribute named `city`. 

To overcome this, one approach is through `__getattr__()` method

In [0]:
class User:
  def __init__(self, name, age, **extras):
    self.name = name
    self.age = age
    self.extras = extras
    
  def __getattr__(self, key):
    return self.extras[key]
  
user = User("John", 10, city='New York')
print(user.name, user.age, user.city)

John 10 New York

## `__call__()` method

This particular feature is heavily used in the deep learning library **Keras**, so it's nice to know how it works. 

There is a concept in python called `callable`, which means objects that can be called and executed. `function` is a type of `callable`, so is `method` in classes. 

Back to the bookstore example, this time we define an extra class called "book", it will contain information about a book such as the name, author, abstract, and price. 

And we are to define another class called "store", which may have a set of books available in storage. 

We now need a fast way to retrieve book information from a store, but notice that each store may have a different discount.

In [0]:
class Book:
  def __init__(self, name, abstract, price):
    self.name = name
    self.abstract = abstract
    self.base_price = price
    
    
books = [
    Book("Ironman", "", 23.99),
    Book("Pokemon", "", 25.99),
    Book("Intro to Python", "", 13.99),
    Book("Harry Potter", "", 99.89),
    Book("Spider-man", "", 19.79),
]

class Store:
  def __init__(self, discount, books):
    self.books = books
    self.discount = discount
  
  def __getitem__(self, book_name):
    for b in self.books:
      if b.name == book_name:
        return b
    print("[warning] {} is unavailable in store.".format(book_name))
    return None
  
  def __call__(self, book_name):
    book = self[book_name]
    if book is None:
      return None
    return self.discount * book.base_price
  
  
s = Store(.8, books[:-1])

price_1 = s("Ironman")
price_2 = s("Spider-man")
print(price_1, price_2)

[warning] Spider-man is unavailable in store.
19.192 None